:root {
    --main-color: #E86B35;
    --second-color: #F6EFE5;
    --second-border: #E2DFC3;
    --correct-back: #E7FFF1;
    --correct-color: #39A665;
    --correct-border: #BDE6CB;
    --false-color: #C64451;
    --false-back: #FFEFEF;
    --false-border: #F3C3C4;
    --progress-color: #EB6639;
    --paragraph-color: #676568;
    --white-color: white;
    --bar-width: 7.14%;
}

.roboto-regular {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-semibold {
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



body {
    height: 100vh;
    background-color: var(--second-color);
    display: grid;
    place-content: center;
    margin: 0
}

.container {
    display: flex;
    width: 20rem;
    max-width: calc(100vw);
    max-height: 150vh;
    padding: 1.5rem 2.8125rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1.25rem;
    background: var(--white-color);
    justify-content: center;

}


.startGame__h1--start {
    color: var(--main-color);
    font-size: 3.3rem;
    max-width: 100%;
    margin: 0;
}

.startGame p {
    font-size: 1.4rem;
    line-height: 1.4;
}

p {
    color: var(--paragraph-color);
    text-align: center;
    font-size: 1rem;
    line-height: 1.625rem;
    max-width: 100%;
    margin: 0;
}


.btn {
    display: flex;
    width: 18.4375rem;
    max-width: 100%;
    height: 3.5rem;
    /* padding: 0.8125rem 6.4375rem; */
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: var(--main-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
    font-size: 1.5rem;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.01);
    backdrop-filter: invert(10%)
}

/* result page */
.resultGame {
    display: none;
    width: 20rem;
    padding: 1.2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.resultGame__h1--start {
    font-size: 2.1rem;
    line-height: 2.7rem;
    color: var(--main-color);
}

.resultGame__resultsBox {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    /* gap: 1.25rem; */
    border-radius: 0.75rem;
    background-color: var(--second-color);
    align-self: stretch;
}

.resultGame__resultsBox p {
    align-self: stretch;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.8rem;
    color: black;
}

.resultGame__resultsBox h2 {
    align-self: stretch;
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.resultGame__button--start.btn {
    width: 10rem;
    height: 4rem;
    padding: 0.5rem 2rem;

}

/* result page */

/* questions page */
.question.container {
    padding: 1.3rem;
    gap: 1.3rem;
    display: none;
}

.question__h1--start {
    align-self: stretch;
    color: #000;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.2rem;
    text-wrap: balance;
    direction: rtl;
}

.question-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-size: 0.8rem;
}

.question-data__score,
.question-data__number {
    line-height: 1.2rem;
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
}

.answer {
    display: flex;
    padding-inline: 0.8rem;
    padding-block: 1rem;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--second-border);
    background: var(--second-color);
    color: black;
    cursor: pointer;
    transition: 100ms ease-in-out;
    direction: rtl;
}

p.answer {
    margin: 0;
}

.answer:hover {
    filter: invert(5%);
    transform: scale(1.07);

}

.answer.answer--active {
    transform: scale(1.07);
}

.answer.answer--right {
    background-color: var(--correct-back);
    color: var(--correct-color);
    border-color: var(--correct-border);
}

.answer.answer--false {
    background-color: var(--false-back);
    color: var(--false-color);
    border-color: var(--false-border);
}

input[type="range"] {
    display: flex;
    height: 0.5rem;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.25rem;
    appearance: none;
    background-color: var(--second-color);
    border: 1px solid var(--second-border);
    position: relative;

}

.question__progressbar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 0.4rem;
    width: var(--bar-width);
    overflow: hidden;
    background-color: var(--main-color);
    border-radius: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
    visibility: hidden;
    appearance: none;
}

input[type="range"]::-moz-range-thumb {
    visibility: hidden;
}

input[type="range"]::-ms-thumb {
    visibility: hidden;
}



/* questions page */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 24rem;
        padding: 2rem 3rem;
        gap: 1.5rem;
    }

    .startGame__h1--start {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.125rem;
    }

    .btn {
        width: 20rem;
        height: 4rem;
        font-size: 1.125rem;
    }

    .resultGame__button--start.btn {
        width: 10.5rem;
        height: 4rem;
        padding: 0.5rem 2rem;
        font-size: 1.125rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 28rem;
        padding: 2.5rem 3.5rem;
        gap: 2rem;
    }

    .startGame__h1--start {
        font-size: 4rem;
    }

    .startGame p {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .btn {
        width: 22rem;
        height: 4.5rem;
        font-size: 1.25rem;
    }

    /* Result page adjustments */
    .resultGame__h1--start {
        font-size: 2.5rem;
    }


    .resultGame__resultsBox p {
        font-size: 1.375rem;
    }

    .resultGame__resultsBox h2 {
        font-size: 1.75rem;
    }

    /* Questions adjustments */
    .question.container {
        width: 28rem;
        padding: 2rem;
        gap: 1.75rem;
    }

    .question__h1--start {
        font-size: 1.375rem;
        line-height: 2rem;
    }

    .question-data {
        font-size: 1rem;
    }

    .answer {
        padding: 1.125rem 1rem;
        font-size: 1.125rem;
    }

    .resultGame__button--start.btn {
        width: 11rem;
        height: 4.25rem;
        padding: 0.625rem 2.125rem;
        font-size: 1.125rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 35rem;
        padding: 3rem 4rem;
        gap: 2.5rem;
    }

    .startGame__h1--start {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .btn {
        width: 24rem;
        height: 5rem;
        font-size: 1.375rem;
    }

    /* Result page adjustments */
    .resultGame__h1--start {
        font-size: 3rem;
    }

    .resultGame__resultsBox {
        padding: 2.5rem;
        gap: 1.5rem;
    }

    .resultGame__resultsBox p {
        font-size: 1.75rem;
    }

    .resultGame__resultsBox h2 {
        font-size: 2.25rem;
    }

    .resultGame__button--start.btn {
        width: 14rem;
        height: 5rem;
        font-size: 1.375rem;
    }

    /* Questions adjustments */
    .question.container {
        width: 38rem;
        padding: 2.25rem;
        gap: 2rem;
    }

    .question__h1--start {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .question-data {
        font-size: 1.125rem;
    }

    .answer {
        padding: 1.25rem 1.125rem;
        font-size: 1.25rem;
    }

    .answer:hover {
        transform: scale(1.05);
    }

    .answers-container {
        gap: 1.25rem;
    }

    input[type="range"] {
        height: 0.75rem;
    }

    .question__progressbar::after {
        height: 0.65rem;
    }

    .resultGame__button--start.btn {
        width: 11rem;
        height: 4.25rem;
        padding: 0.625rem 2.125rem;
        font-size: 1.125rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 45rem;
        padding: 3.5rem 5rem;
        gap: 3rem;
    }

    .startGame__h1--start {
        font-size: 6rem;
    }

    p {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .btn {
        width: 26rem;
        height: 5.5rem;
        font-size: 1.5rem;
    }

    /* Result page adjustments */
    .resultGame__h1--start {
        font-size: 3.25rem;
    }

    .resultGame__resultsBox {

        padding: 3rem;
        gap: 1.75rem;
    }

    .resultGame__resultsBox p {
        font-size: 2rem;
    }

    .resultGame__resultsBox h2 {
        font-size: 2.5rem;
    }

    .resultGame__button--start.btn {
        width: 16rem;
        height: 5.5rem;
        font-size: 1.5rem;
    }

    /* Questions adjustments */
    .question.container {
        width: 42rem;
        padding: 2.75rem;
        gap: 2.25rem;
    }

    .question__h1--start {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .question-data {
        font-size: 1.25rem;
    }

    .answer {
        padding: 1.375rem 1.25rem;
        font-size: 1.375rem;
    }

    .answers-container {
        gap: 1.375rem;
    }

    .resultGame__button--start.btn {
        width: 16rem;
        height: 5.5rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 69.1875rem;
        /* height: 29.8125rem; */
        padding: 2.8125rem 10.75rem;
        gap: 2rem;
        border-radius: 1.9375rem;
    }

    .startGame__h1--start {
        font-size: 10rem;
    }

    .startGame p {
        font-size: 4.8rem;
    }


    p {
        font-size: 2.25rem;
    }

    .btn {

        width: 16.5625rem;
        height: 6.4375rem;
        padding: 1.875rem 3rem;
        border-radius: 0.9375rem;
        font-size: 2.25rem;
    }

    /* result page */
    .resultGame__h1--start {
        font-size: 3.75rem;
    }

    .resultGame__resultsBox {
        height: 12.75rem;
        gap: 1.9375rem;
        border-radius: 0.9375rem;
    }

    .resultGame__resultsBox p {
        font-size: 2.3125rem;
    }

    .resultGame__resultsBox h2 {
        font-size: 3.875rem;
    }

    .resultGame__button--startAgain {
        width: 17.5625rem;
        height: 6.0625rem;
        padding: 1.875rem 2rem;
        border-radius: 0.9375rem;
        font-size: 2.25rem;
    }

    /* questions section */
    .question.container {
        width: 46.9375rem;
        /* height: 36.5rem; */
        padding: 2.5rem 1.3125rem;
        gap: 1.5rem;
        border-radius: 1.25rem;
    }

    .question__h1--start {
        font-size: 2.125rem;
        line-height: normal;
    }

    .question-data p {
        /* width: 43.125rem; */
        font-size: 1.375rem;
        line-height: normal;
    }

    .answer {
        /* height: 4.375rem; */
        padding: 1.3125rem 1.1875rem;
        border-radius: 0.625rem;
        font-size: 1.375rem;
    }

    .answer:hover {
        filter: invert(5%);
        transform: scale(1.03);
    }

    .answers-container {
        gap: 1.5rem;
    }

    input[type="range"] {
        height: 0.875rem;
        border-radius: 6.25rem;
    }

    .question__progressbar::after {
        height: 0.775rem;
    }
}